#main-pane {
    -fx-padding: 10px;
}

#tile-grid {
    -fx-margin: 20px;
}

Tile {
    -fx-font-size: 50px;

    -fx-min-width: 125px;
    -fx-min-height: 125px;

    -fx-pref-width: 150px;
    -fx-pref-height: 150px;

    -fx-max-width: 175px;
    -fx-max-height: 175px;
}

Button {
    -fx-font-size: 25px;

    -fx-min-width: 75px;
    -fx-min-height: 50px;

    -fx-pref-width: 100px;
    -fx-pref-height: 75px;

    -fx-max-width: 125px;
    -fx-max-height: 100px;
}